@font-face {
    font-family: 'iconfont';  /* project id 3425203 */
    src: url('');
    src: url('?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_3425203_cwk1e25ljat.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_3425203_cwk1e25ljat.woff') format('woff'),
    url('//at.alicdn.com/t/font_3425203_cwk1e25ljat.ttf') format('truetype'),
    url('#iconfont') format('svg');
  }